<section id="home">
    <div class="welcome">
        <p>Natural Love</p>
    </div>
</section>
<section id="history">
	<h2>History</h2>
	<div id="coment">
		<div id="silvia"></div>
		<div id="text">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy  </p>
			<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
Ut wisi enim ad minim </p>
		</div>
		<div id="cactus"></div>
	</div>
</section>

