/*-------------------------Media Query Laptops------------------------*/

/*
------------------------------------------
Media Query Desktop 2K
------------------------------------------
*/
@media only screen 
  and (min-device-width: 2880px) { 
    #history #text p{
      font-size: 1.5em;
    
    }
    
    #history #silvia{
      width:20%;
      height:70em;
    }
  
    #history #text{
      width:24%;
      font-size: 2em;
    }

    .login-box{
        width: 40%;
    }

}

/*
------------------------------------------
Media Query Laptops HD
------------------------------------------
*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen 
  and (min-device-width: 1281px)
  and (max-device-width: 2879px) { 
    #history #text p{
      font-size: 1.5em;
    
    }
    
    #history #silvia{
      width:30%;
      height:35em;
    }
  
    #history #text{
      width:53%;
    }

    .login-box{
        width: 40%;
    }

    #history #text{
      width: 40%;
    }
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
  
  #gallery .prod{
      width: 29em;
      
    }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {

  #history #text p{
    font-size: 1.5em;
  
  }
  
  #history #silvia{
    width:30%;
    height:20em;
  }

  #history #text{
    width:53%;
  }
  
}

/*-------------------------Media Query Tablets------------------------*/
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #gallery .prod{
      width: 21em;
      
    }
  
}

/*
------------------------------------------
Media Query Tablet portrait
------------------------------------------
*/
@media 
  (min-device-width: 768px)
  and (max-device-width: 1023px)
  and (orientation: portrait) {

    #gallery .prod{
      width: 21em;
      
    }

    #history #silvia{
      width:45%;
      height:30em;
    }

    #history #text{
      width:50%;
    }

    .login-box{
        width: 60%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}
/*-------------------------Media Query Phones------------------------*/

/*
-------------------------------
General Phone
-------------------------------
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px) {

    
}


/*
-------------------------------
Vetical
-------------------------------
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (orientation: portrait) {

    

}



/*
-------------------------------
Horizontal
-------------------------------
*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (orientation: landscape) {

    #history #silvia{
      width:40%;
      height:18em;
    }

    #history #text{
      width:50%;
    }
  

}

/*-------------------Animations---------------------*/

